@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 14, 93%, 62%;
    --primary-foreground: 210 40% 98%;

    --secondary: 257, 22%, 22%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --error: 1, 77%, 55%;
    --success: 119, 38%, 38%;
    --warning: 48, 96%, 53%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-[24px] leading-[36px]
  }

  h2 {
    @apply text-[20px] leading-[32px]
  }

  h3 {
    @apply text-[18px] leading-[28px]
  }

  h4 {
    @apply text-[16px] leading-[24px]
  }

  h5 {
    @apply text-[14px] leading-[20px]
  }

  p {
    @apply text-[12px] leading-[16px]
  }

  small {
    @apply text-[10px] leading-[16px]
  }

  /* x-small {
    @apply text-[24px] leading-[36px]
  } */
}